$grey: #999999;
$yellow: #f7e641;

body, html {
	height: 100%;
	margin: 0;
}

body {
	background-color: $yellow !important;
	background-image: url('/images/pattern.png');
}

.slider {
	background: url('/images/pattern2.jpg') repeat left top;
	padding: 10px;
	min-height: 15%;
	border: 1px $yellow solid;
	.item.active {
		height: 100%;
		img {
			margin: 0 auto;
		}
	}
}


.carousel {
	.carousel-control {
		background: none !important;
	}
}

.header {
	color: #FFFFFF;
	background: url('/images/starfield.gif');
	min-height: 60%;
	p, small, strong, li, h1 {
		font-family: BebasNeue, serif;
	}
	h1 {
		font-size: 1.2em;
	}
	.call {
		strong{
			font-size: 3.5em;
			color: $yellow;
		}
		small {
			font-size: 1.5em;
			margin-right: 10px;
			color: $grey;
		}
	}
	.services {
		margin-top: 20px;
		ul {
			margin: 0 auto;
			width: 60%;
		}
		strong {
			color: $grey;
		}
	}
}

nav.navbar {
	border-radius: 0;
	-webkit-border-radius: 0;
	margin-bottom: 0;
	font-family: BebasNeue, serif;
	font-size: 1.4em;
	.navbar-brand {
		font-size: 1.6em;
	}
}

footer {
	height: auto;
	padding: 16px;
	color: $grey;
	a {
		text-decoration: none;
		color: $grey;
	}
}

.well {
	background: black !important;
	p {
		font-family: serif;
		font-size: 1.2em;
	}
}